{% extends "base.html" %}
{% block main %}

<div class="chat-container">
    <div class="row m-3 d-flex align-items-left flex-row">
        <div class="chat-message response-message">
            <div>{{ answer }}</div>
        </div>
    </div>
    <div class="row m-3"></div>   
        <div class="chat-message user-message">
            <div>{{ query }}</div>
        </div>
    </div>
</div>
<form method="POST" action="/chat">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.messages(class='form-control', placeholder = "Enter a Query") }}
    </div>
    <button class="btn btn-submit btn-primary" type="submit">Send</button> 
</form>

{% endblock %}
