{% extends "base.html" %}
{% block main %}
<!--
<div class="jumbotron">
    <div class="row">
        <div class="col-sm">
            <h1>Chat</h1>
            
            <div class="photo-container">
                <div class="photo-card photo-card-solid">
                    <form method="POST" action="chat">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.query.label() }}
                            {{ form.query(class='form-control') }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-submit">Submit</button>            
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<p>Key words: {{ filtered_q }}</p>
-->
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <!-- Chat messages area -->
        <div id="chat-messages" class="card">
          <div class="card-body">
            <!-- Chat message bubbles will be added here dynamically -->
          </div>
        </div>
        <!-- Chat input area -->
        <div class="input-group mt-3">
          <input id="chat-input" type="text" class="form-control" placeholder="Type your message...">
          <div class="input-group-append">
            <button id="send-button" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}