<nav class="navbar navbar-expand-lg navbar-custom fixed-top" style="background-color: #A9DCF2;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="\static\images\logo.png" width="60" height="55" alt="">
    </a>      
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          {% if active_page == 'home' %}class="active"{% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('upload') }}">Upload Textbook</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('take_quiz') }}">Take Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('library') }}">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signin') }}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signout') }}">Sign Out</a>
        </li>        
      </ul>
    </div>
  </div>
</nav>