{% extends "base.html" %}
{% block main %}
<title>Bookworm Quiz</title>
<div class="jumbotron area" style="background-image: linear-gradient(to bottom, #0C91C5, #5EB7B5);">
    <div class="container-fluid  d-flex align-items-center flex-column">
        <img src="/static/images/topicon.png" alt="" class="page-icon">
        <h1 class="home-text01">Bookworm Quiz!</h1>
        <p class="lead">Test how much you remember</p>      
    </div>
</div>   
<div class="jumbotron area mb-4">
    <div class="container d-flex align-items-center flex-column bg-light rounded"style="width: 700px; height: 450px;">
        <h1>Select a Subject</h1>
        <button class="btn btn-secondary btn-lg btn-block">Subject 1</button>
        <button class="btn btn-secondary btn-lg btn-block">Subject 2</button>
        <button class="btn btn-secondary btn-lg btn-block">Subject 3</button>
        <div>
            <button class="btn btn-secondary btn-lg btn-block">Start</button>
        </div>
    </div>
</div>
{% endblock %}