
{% extends "base.html" %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-custom fixed-top" style="background-color: #A9DCF2;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="\static\images\logo.png" width="60" height="55" alt="">
      </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            {% if active_page == 'home' %}class="active"{% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload') }}">Upload Textbook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('take_quiz') }}">Take Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('library') }}">Library</a>
          </li>
          <li class="nav-item" id="sign-up">
            <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
          </li>         
          <li class="nav-item" id="sign-in">
            <a class="nav-link active btn-outline-dark" href="{{ url_for('signin') }}">Sign In</a>
          </li>       
        </ul>
      </div>
    </div>
  </nav>
<div class="jumbotron mb-0">
    <div class="row">
        
        <div class="col-sm">
            <h1>Sign In</h1>
            {% include 'flashes.html' %}
            <div class="photo-card photo-card-solid">
                <form method="POST" action="/signin">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.email.label() }}
                        {{ form.email(class='form-control') }}
                    </div> 
                    <div class="form-group">
                        {{ form.password.label() }}
                        {{ form.password(class='form-control') }}
                    </div>
                    <button class="btn btn-submit btn-dark btn-block" type="submit">Sign In</button> 
                    <p>Don't have an account? <a class="link-dark text-decoration-none" href="{{ url_for('signup') }}"><b>Sign up Today</b> </a></p>                   
                </form>

            </div>
        </div>
        <div class="col-sm">
          <img class="rounded w-50 h-75 shadow-lg ms-5 mt-5" src="/static/images/spimage.jpeg" alt="bookworm" style="width:300;height:200px;">
        </div>        
    </div>
    
</div>
{% endblock %}