{% extends "base.html" %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-custom fixed-top" style="background-color: #A9DCF2;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <img src="\static\images\logo.png" width="60" height="55" alt="">
      </a>      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            {% if active_page == 'home' %}class="active"{% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('upload') }}">Upload Textbook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('take_quiz') }}">Take Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('library') }}">Library</a>
          </li>          
          <li class="nav-item" id="sign-up">
            <a class="nav-link active btn-outline-dark" href="{{ url_for('signup') }}">Sign Up</a>
          </li>        
        </ul>
      </div>
    </div>
  </nav>
<div class="jumbotron">
    <div class="row">
        <div class="col-sm">
            <img src="/static/images/spimage.jpeg" alt="bookworm" style="width:700;height:500px;">
        </div>
        <div class="col-sm">
            <h1>Sign Up</h1>
            <div class="photo-container">
                <p class="photo-title">Enter your credentials below</p>
                <div class="photo-card photo-card-solid">
                    <form method="post", action="signup">
                        {% include 'flashes.html' %}
                        {{ form.hidden_tag() }}
                        <div class="form-group">                            
                            {{ form.fname(class='form-control', placeholder="First Name") }}
                        </div>
                        <div class="form-group">                            
                            {{ form.lname(class='form-control', placeholder = "Last Name") }}
                        </div>
                        <div class="form-group">                            
                            {{ form.email(class='form-control', placeholder = "Email Address") }}
                        </div> 
                        <div class="form-group">                            
                            {{ form.password(class='form-control', placeholder = "Enter Password") }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-submit btn-primary container-fluid">Submit</button>            
                        </div>                       
                    </form>
                </div>
            </div>
        </div>        
    </div>    
</div>
{% endblock %}